<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.creotec.chscardbalance2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.RestaurantPageActivity"
            android:theme="@style/AppTheme.Transparent.StatusBar" />
        <activity
            android:name=".controller.AppUpgradedFromLegacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.AppFirstRunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:label="@string/menu_settings"
            android:name=".controller.SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.MainActivity" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.CopyCardNumberReceiver"
            android:enabled="true" />

        <service
            android:name=".service.BalanceService"
            android:exported="false" />
        <service
            android:name=".service.MenuService"
            android:exported="false" />
    </application>

</manifest>